* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #fff;
  --text-color: #333;
  --second-color: skyblue;
  --main-color: blueviolet;
  --big-font: 2.5rem;
  --h2-font: 1.5rem;
  --p-font: 1rem;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 30px 18%;
  transition: .3s;
}

.logo img {
  max-width: 100%;
  width: 40px;
  height: auto;
}

.nav-list {
  display: flex;
}

.nav-list li {
  position: relative;
}

.nav-list a {
  font-size: var(--p-font);
  color: var(--text-color);
  font-weight: 500;
  padding: 10px 27px;
}

.nav-list a:hover {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: var(--main-color);
  transition: ease .40s;
  width: 100%;
}

/**
.nav-list a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  color: var(--main-color);
  bottom: -5px;
  left: 0;
  transition: ease .40s;
}

.nav-list a:hover::after{
  width: 100%;
}
**/
#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.top-btn {
  display: inline-block;
  padding: 10px 30px;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 30px;
  color: var(--text-color);
  letter-spacing: 1px;
  font-size: var(--p-font);
  font-weight: 500;
  transition: ease .50s;
}

.top-btn:hover {
  transform: scale(1.1);
  background: var(--main-color);
  border: 2px solid var(--main-color);
  color: var(-bg-color);
}

section {
  padding: 100px 18%;
}

.home {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-color: skyblue;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 4rem;
}

.home-img img {
  max-width: 100%;
  width: 800px;
  height: auto;
  border-radius: 50%;
  padding: 30px;
}

.home-text h1 {
  margin: 10px 0 25px;
  font-size: var(--big-font);
  line-height: 1;
  font-weight: 500;
}

.home-text h5 {
  margin-bottom: 23px;
  font-size: 19px;
  font-weight: 500;
}

span {
  color: var(--main-color);
}

.home-text h3 {
  padding-top: 20px;
  color: var(--main-color);
  font-weight: 500;
}

.home-text p {
  color: var(--main-color);
  font-size: var(--p-font);
  line-height: 25px;
}

.socials a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background: var(---main-color);
  font-size: 17px;
  color: #fff;
  margin-right: 20px;
}

.socials a:hover {
  transform: scale(1.1);
  background: var(--second-color);
  transition: .5s;
}

.btn {
  display: inline-block;
  background: var(--main-color);
  color: #fff;
  padding: 10px 40px;
  font-size: var(--p-font);
  border-radius: 5px;
  font-weight: 500;
  line-height: 24px;
  transition: ease.40s;
}

.btn:hover {
  transform: scale(1.1);
}


header.sticky{
  background: red;
  padding: 13px 18%;
  box-shadow: 0px 0px 10px rgb(0 0 0/10%);
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto) );
  grid-gap: 2rem;
  align-items: center;
  text-align: center;
}

.sub-box{
  padding:30px 20px 30px 20px;
  cursor: pointer;
  transition: ease .50s;
}

.sub-img img{
  max-width: 100%;
  width: 50px;
  height: auto;
  margin-bottom:20px;

}

.sub-box h3{
  margin-bottom: 20px;
font-size: 24px;
font-weight: 500;
}

.sub-box p{
font-size: var(--p-font);
color: #3d3d3d;
line-height: 30px;
}

.sub-box:hover{
background:#fff;
box-shadow:18px 0px 87px 0px rgb(10 15 70 / 7%);
border-radius: 12px;
will-change: transform;
transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05, 1.05, 1.05);
}
